[data-style='yellow'] h1 {
    color: #b45f06;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
}

[data-style='yellow'] [data-content] h1
{
    color: #574b3c;
    font-weight: bold;
    font-size: 1.4rem;
    font-style: normal;
}

[data-style='yellow'] [data-main] > div {
    font-size: 1.3rem;
    line-height: normal;
    color: black;
}

[data-style='yellow'] a {
    text-decoration: underline;
    color: darkslateblue;
}


[data-style='red'] h1,
[data-style='red'] h1 *
{
    font-family: "Cormorant SC" !important;
    font-size: 1.8rem !important;
    color: #403838 !important;
    letter-spacing: .4px !important;
    font-weight: 400 !important;
}

[data-style='red'] h2,
[data-style='red'] h2 *
{
    font-family: "Cormorant" !important;
    font-size: 1.5rem !important;
    color: #6d8159 !important;
    letter-spacing: .4px !important;
    font-weight: 700;
    font-style: italic;
}

[data-style='red'] h3,
[data-style='red'] h3 *
{
    font-family: "Cormorant Garamond" !important;
    font-size: 1.3rem !important;
    color: #b45f06 !important;
    letter-spacing: .4px !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

[data-style='red'] h4,
[data-style='red'] h4 *
{
    font-family: "Cormorant" !important;
    font-size: 1.3rem !important;
    color: #999 !important;
    letter-spacing: .4px !important;
}

[data-style='red'] > div
[data-style='red'] > div p,
[data-style='red'] > div p * {
    color: black !important;
    font-family: 'Cormorant' !important;
    font-size: 1.2rem !important; 
}

*[data-editorial] {
    color: #000;
}

#js-transcription-display[data-transcription-orientation='portrait'] {
    width: 360px;
}

#js-transcription-display[data-transcription-orientation='landscape'] {
    width: 600px;
}

div[data-panel='parent'] {
    display: flex;
    gap: 10px;
}

div[data-panel='parent'] > div[data-panel] {
    flex-grow: 1;
}